.navbar {
  background: #202020;
  max-height: 80px;
  line-height: 60px;
  padding: 10 20px; /* Ajout d'espacement intérieur pour la navbar */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Ombre légère */

  .dropdown {
    position: relative;
    display: inline-block;

    .dropdown-content {
      display: none;
      position: absolute;
      background-color: rgb(248, 243, 243);
      min-width: 160px;
      box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
      z-index: 1;

      .dropdown-item {
        color: black;
        padding: 4px 8px;
        text-decoration: none;
        display: block;
        text-align: left;

        &:hover {
          background-color: #f1f1f1;
        }
      }
    }

    &:hover .dropdown-content {
      display: block;
    }
  }
}

#logo {
  border-radius: 4px;
  max-height: 50px;
  margin-left: 20px;
  background-color: #dfdede;
  color: black;
  padding: 5px;
}
