<footer class="footer">
  <div class="container">
    <div class="footer-section">
      <h5>Contact:</h5>
      <p>Rue des Skassis, 3 - 5580 Lessive (Rochefort - Belgique)</p>
      <p>Email: <a href="mailto:info@enfaceduvieuxlessive.be">info@enfaceduvieuxlessive.be</a></p>
    </div>
    <div class="footer-section">
      <h5>Avis de nos guests:</h5>
      <p class="guest-reviews">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin quis tortor vitae velit fermentum aliquet.</p>
    </div>
    <div class="footer-section">
      <h5>Navigation:</h5>
      <ul class="footer-nav">
        <li><%= link_to 'Le Gîte', about_path %></li>
        <li><%= link_to 'Activités', activity_path %></li>
        <li><%= link_to 'Réservation', booking_path %></li>
      </ul>
    </div>
    <div class="footer-section">
      <h5>Suivez-nous sur:</h5>
      <ul class="footer-nav">
        <li><a href="https://www.facebook.com/enfaceduvieuxlessive" target="_blank"><i class="fa-brands fa-facebook mb-3"></i></a></li>
        <li><a href="" target="_blank"><i class="fa-brands fa-square-instagram"></i></a></li>
      </ul>
    </div>
  </div>
</footer>
