<h1 class=" title my-5 text-center"><strong><em>Histoire de notre Gîte</em></strong></h1>

  <p class="subtitle">Cette ferme du XVIIIe siècle transformée en une luxueuse
    Guesthouse de 15 personnes offre tout le confort moderne, tout en conservant le maximum
    d’éléments qui témoignent des siècles passés. Ce lieu se prête parfaitement aux réunions familiales,
    aux breaks entre amis ou encore aux team buildings. La philosophie
    d’« en face du vieux Lessive » est d’allier ambiance et détente dans un cadre exclusif.
  </p>

<h3 class="title">Descriptif du Gîte - 14 adultes</h3>
  <ul>
   <li class="subtitle">5 chambres double - Salle de bain/douche privative et WC dans chaque chambre</li>
   <li class="subtitle">1 chambre (les combles) de 4 lits simple - Salle de Bain privative + WC</li>
   <li class="subtitle">1 salle de cinéma</li>
   <li class="subtitle">1 sauna - 2 utilisations: Infrarouge + Thermique</li>
   <li class="subtitle">1 salon anglais avec son billard et son bar typique</li>
   <li class="subtitle">1 four à pizza</li>
   <li class="subtitle">et biens d'autres atouts: BBQ, Tennis de talbe, jardin avant et arrière protégé, etc... </li>
  </ul>
<h3 class="title">Services à dispostion</h3>
  <ul>
    <li class="subtitle">Draps de lit - Linge à dispostion</li>
    <li class="subtitle">Serviettes de bain à disposition</li>
    <li class="subtitle">Bois pour cheminée et four à Pizza à dispostion</li>
    <li class="subtitle">10 vélos adultes à disposition</li>
    <li class="subtitle">Wi-fi dans chaque pièce du Gîte</li>
    <li class="subtitle">1 lit bébé (papillon) + 1 chaise bébé</li>
    <li class="subtitle">multimédia: 1 Bose à disposition</li>
  </ul>
<h3 class="title">Galeries</h3>
