<div class="container-activity">
  <div class="title">
    <h1><strong>Nos Activités dans la région</strong></h1>
  </div>
  <div class="cards-activity">
    <a href="https://www.dinant-evasion.be/fr/kayak-sur-la-lesse" target="_blank" class="card-link">
      <div class="card">
        <div class="card-img">
          <%= image_tag 'sauna.jpg', alt: 'sauna'%>
        </div>
        <div class="card-text">
          <h3>Descente de la lesse</h3>
          <p>Deux parcours surpenant dans une nature sauvage</p>
        </div>
      </div>
    </a>
    <a href="https://www.dinant-evasion.be/fr/kayak-sur-la-lesse" target="_blank" class="card-link">
      <div class="card">
        <div class="card-img">
          <%= image_tag 'sauna.jpg', alt: 'sauna'%>
        </div>
        <div class="card-text">
          <h3>Descente de la lesse</h3>
          <p>Deux parcours surpenant dans une nature sauvage</p>
        </div>
      </div>
    </a>
    <a href="https://www.dinant-evasion.be/fr/kayak-sur-la-lesse" target="_blank" class="card-link">
      <div class="card">
        <div class="card-img">
          <%= image_tag 'sauna.jpg', alt: 'sauna'%>
        </div>
        <div class="card-text">
          <h3>Descente de la lesse</h3>
          <p>Deux parcours surpenant dans une nature sauvage</p>
        </div>
      </div>
    </a>
    <a href="https://www.dinant-evasion.be/fr/kayak-sur-la-lesse" target="_blank" class="card-link">
      <div class="card">
        <div class="card-img">
          <%= image_tag 'sauna.jpg', alt: 'sauna'%>
        </div>
        <div class="card-text">
          <h3>Descente de la lesse</h3>
          <p>Deux parcours surpenant dans une nature sauvage</p>
        </div>
      </div>
    </a>
  </div>
</div>
