
<div class="overlay">
  <%= link_to 'Réservation', booking_path, class: 'button-home' %>
</div>

  <div>
    <h1 class="title">En Face Du Vieux Lessive</h1>
    <h6 class="subtitle">
      C’est au cœur du village que notre Guesthouse vous accueille pour un séjour où le temps s’écoule au fil de la Lesse et du clocher de l’église. Vous y trouverez la recette pour un moment de détente et de sérénité.
    </h6>
  </div>
  <div class="icons-container">
    <i class="fa-solid fa-bed"></i>
    <i class="fa-solid fa-spa"></i>
    <i class="fa-solid fa-shower"></i>
    <i class="fa-solid fa-bath"></i>
    <i class="fa-solid fa-baby"></i>
    <i class="fa-solid fa-couch"></i>
    <i class="fa-solid fa-mattress-pillow"></i>
    <i class="fa-solid fa-fan"></i>
    <i class="fa-solid fa-pizza-slice"></i>
    <i class="fa-solid fa-champagne-glasses"></i>
    <i class="fa-solid fa-fire"></i>
    <i class="fa-solid fa-kitchen-set"></i>
    <i class="fa-solid fa-dog"></i>
    <i class="fa-solid fa-bicycle"></i>
    <i class="fa-solid fa-car"></i>
    <i class="fa-solid fa-wifi"></i>
    <i class="fa-solid fa-film"></i>
    <i class="fa-solid fa-headphones"></i>
    <i class="fa-solid fa-tv"></i>
    <i class="fa-solid fa-music"></i>
    <i class="fa-solid fa-table-tennis-paddle-ball"></i>
    <i class="fa-solid fa-ban-smoking"></i>
  </div>
