<div class="maincontainer">

  <div class="background-container">

    <div class="overlay d-flex flex-column align-items-center justify-content-center text-center">
      <h1>Welcome to En Face du Vieux Lessive</h1>
      <div>
        <a href="" class="button">Réservation</a>
      </div>
    </div>
  </div>

</div>
